header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  margin-top: 1em;
  position: relative;
  display: flex;
  text-align: center;
  background-color: #ffffff;
  width: 400px;
  height: 60px;
  line-height: 60px;
  border-radius: 50px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .5);
}

nav input {
  display: none;
}

nav label {
  position: relative;
  color: #000000;
  width: 100%;
  font-size: 20px;
  text-transform: uppercase;
  z-index: 2;
  cursor: pointer;
  transition: all .6s cubic-bezier(0.68, -0.55, 0, 0.98);
}

nav label:hover {
  color: #a36239;
}

nav .tab {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  height: 100%;
  width: 50%;
  border-radius: 50px;
  background: linear-gradient(to right, #c7ab99, #a36239);
  transition: all .6s cubic-bezier(0.68, -0.55, 0, 0.98);
}

nav #order-management:checked ~ .tab {
  left: 0;
}

nav #material-management:checked ~ .tab {
  left: 200px;
}

nav #order-management:checked ~ label.order-management,
nav #material-management:checked ~ label.material-management {
  color: #ffffff;
}