.modal-layout {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: 0.4s ease-in-out;
  gap: 2em;
}

.modal-header {
  position: relative;
}

.modal-header h1 {
  margin: 0;
}

.modal-header span {
  position: absolute;
  top: 0px;
  right: -480px;
}

.modal-header span:hover {
  cursor: pointer;
}

.modal-table {
  width: 1090px;
  border-radius: 15px;
}

.modal-table tbody {
  max-height: 155px;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {

  .modal-layout input[type=checkbox],
  .modal-layout input[type=radio] {
    --active: #275EFE;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #BBC1E1;
    --border-hover: #275EFE;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }

  .modal-layout input[type=checkbox]:after,
  .modal-layout input[type=radio]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  }

  .modal-layout input[type=checkbox]:checked,
  .modal-layout input[type=radio]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }

  .modal-layout input[type=checkbox]:disabled,
  .modal-layout input[type=radio]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }

  .modal-layout input[type=checkbox]:disabled:checked,
  .modal-layout input[type=radio]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }

  .modal-layout input[type=checkbox]:disabled+label,
  .modal-layout input[type=radio]:disabled+label {
    cursor: not-allowed;
  }

  .modal-layout input[type=checkbox]:hover:not(:checked):not(:disabled),
  .modal-layout input[type=radio]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }

  .modal-layout input[type=checkbox]:focus,
  .modal-layout input[type=radio]:focus {
    box-shadow: 0 0 0 var(--focus);
  }

  .modal-layout input[type=checkbox]:not(.switch),
  .modal-layout input[type=radio]:not(.switch) {
    width: 21px;
  }

  .modal-layout input[type=checkbox]:not(.switch):after,
  .modal-layout input[type=radio]:not(.switch):after {
    opacity: var(--o, 0);
  }

  .modal-layout input[type=checkbox]:not(.switch):checked,
  .modal-layout input[type=radio]:not(.switch):checked {
    --o: 1;
  }

  .modal-layout input[type=checkbox]+label,
  .modal-layout input[type=radio]+label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }

  .modal-layout input[type=checkbox]:not(.switch) {
    border-radius: 7px;
  }

  .modal-layout input[type=checkbox]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }

  .modal-layout input[type=checkbox]:not(.switch):checked {
    --r: 43deg;
  }

  .modal-layout input[type=checkbox].switch {
    width: 38px;
    border-radius: 11px;
  }

  .modal-layout input[type=checkbox].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    transform: translateX(var(--x, 0));
  }

  .modal-layout input[type=checkbox].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }

  .modal-layout input[type=checkbox].switch:disabled:not(:checked):after {
    opacity: 0.6;
  }

  .modal-layout input[type=radio] {
    border-radius: 50%;
  }

  .modal-layout input[type=radio]:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    transform: scale(var(--s, 0.7));
  }

  .modal-layout input[type=radio]:checked {
    --s: .5;
  }
}

.modal-layout ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 12px;
  padding: 0;
  list-style: none;
}

.modal-layout ul li {
  position: relative;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

.modal-content form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
}

.modal-content-side {
  width: 530px;
  border-radius: 15px;
  background-color: #f3d8b0;
  padding: 20px;
}

.modal-content p {
  font-size: 18px;
  border-radius: 15px;
  padding: 5px;
  text-align: center;
  background-color: #a36239;
  color: #ffffff;
}

.modal-content-side ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.modal-confirm {
  text-align: center;
}

.modal-confirm button {
  border: none;
  padding: 10px;
  /* width: 1100px; */
  height: 60px;
  font-size: 1.5em;
  transition: 0.3s ease-in-out;
}

.modal-confirm button:hover {
  background-color: #ddb477;
}