.order-list, .maked-list {
  width: 90%;
  text-align: center;
}

.order-list h3 {
  margin: 0;
}

.order-list button {
  border: none;
  transition: 0.3s ease-in-out;
  font-size: 1em;
}

.order-list button:hover {
  background-color: #ddb477;
}

.order-button-area {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1em;
}

.order-button {
  padding: 10px;
  border: 2px double #eeeeee;
}

.order-list table tr th:nth-child(2), .order-list table tr td:nth-child(2) {
  width: 160px;
}

.order-list table tr th:last-of-type, .order-list table tr td:last-of-type {
  width: 60px;
}

.maked-list table tr th:nth-child(2), .maked-list table tr td:nth-child(2) {
  width: 400px;
}

.maked-list table tr th:nth-child(3), .maked-list table tr td:nth-child(3),
.maked-list table tr th:last-of-type, .maked-list table tr td:last-of-type {
  width: 150px;
}

.maked-list-view {
  opacity: 0;
  visibility: 0;
  height: 0;
  display: flex;
  justify-content: center;
}

.maked-list-view button {
  width: 100%;
  border: none;
  transition: 0.3s ease-in-out;
  font-size: 1em;
}

.maked-list-view button:hover {
  background-color: #ddb477;
}

.maked-list h1 {
  margin-bottom: 2em;
}

@media screen and (max-width: 1408px) {
  .maked-list {
    display: none;
  }

  .maked-list-view {
    opacity: 1;
    visibility: visible;
    height: 50px;
    margin-bottom: 1em;
    width: 90%;
  }
}