@font-face {
  font-family: 'KyoboHand';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --cup-color: #474747;
  --cup-width: 150px;
  --cup-height: 120px;
  --cup-handle-width: 25px;
  --cup-handle-height: calc(2 * var(--cup-handle-width));
  --cup-border-width: 10px;
  --cup-inside-width: calc(var(--cup-width) - var(--cup-border-width));
  --cup-inside-height: calc(var(--cup-height) - var(--cup-border-width));
  --border-width: 10px;
  --main-border: var(--border-width) solid var(--cup-color);
  --plate-width: 125px;
  --plate-height: 10px;
  --coffee-bottom: 40%;
  --water-bottom: 0;
  --milk-bottom: 0;
  --liquor-bottom: 0;
  --whipped_cream-bottom: 0;
  --steamed_milk-bottom: 0;
  --milk_foam-bottom: 0;
  --chocolate-bottom: 0;
  --coffee-color: #3c302f;
  --water-color: #b1dce2;
  --milk-color: #f0ebe5;
  --liquor-color: #fc8626;
  --whipped_cream-color: #fceecb;
  --milk_foam-color: #fceecb;
  --steamed_milk-color: #ffd7b3;
  --chocolate-color: #391e09;
}

* {
  font-family: 'KyoboHand';
  box-sizing: border-box;
}

body {
  margin: auto;
}

header {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  margin-top: 1em;
  position: relative;
  display: flex;
  text-align: center;
  background-color: #ffffff;
  width: 400px;
  height: 60px;
  line-height: 60px;
  border-radius: 50px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .5);
}

nav input {
  display: none;
}

nav label {
  position: relative;
  color: #000000;
  width: 100%;
  font-size: 20px;
  text-transform: uppercase;
  z-index: 2;
  cursor: pointer;
  transition: all .6s cubic-bezier(0.68, -0.55, 0, 0.98);
}

nav label:hover {
  color: #a36239;
}

nav .tab {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  height: 100%;
  width: 50%;
  border-radius: 50px;
  background: linear-gradient(to right, #c7ab99, #a36239);
  transition: all .6s cubic-bezier(0.68, -0.55, 0, 0.98);
}

nav #order-management:checked~.tab {
  left: 0;
}

nav #material-management:checked~.tab {
  left: 200px;
}

nav #order-management:checked~label.order-management,
nav #material-management:checked~label.material-management {
  color: #ffffff;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
}

h1 {
  margin: 0;
}

button {
  border-radius: 15px;
}

button:hover {
  cursor: pointer;
}

/* button:disabled {
  cursor: not-allowed !important;
  color: #ffffff !important;
  background-color: #a2a2a2 !important;
} */

.wrapper {
  margin: 0 auto;
  text-align: center;
}

.table {
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}

.table-row {
  display: table-row;
  background: #f6f6f6;
}

.table-row:nth-of-type(odd) {
  background: #e9e9e9;
}

.table-row.header {
  font-weight: 900;
  color: #ffffff;
  background: #a36239;
}

.table-row.green {
  background: #27ae60;
}

.table-row.blue {
  background: #2980b9;
}

.cell {
  padding: 6px 12px;
  display: table-cell;
}

.hide {
  display: none;
}

@media screen and (max-width: 1408px) {
  .wrapper {
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    min-width: 0;
  }

  .table {
    display: block;
    text-align: left;
  }

  .table-row {
    padding: 14px 0 7px;
    display: block;
  }

  .table-row.header {
    padding: 0;
    height: 6px;
  }

  .table-row.header .cell {
    display: none;
  }

  .table-row .cell {
    margin-bottom: 10px;
  }

  .table-row .cell:before {
    margin-bottom: 3px;
    content: attr(data-title);
    min-width: 98px;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #969696;
    display: block;
  }

  .cell {
    padding: 2px 16px;
    display: block;
  }
}
