@import url('./common.css');
@import url('./pages/coffee-order.css');
@import url('./pages/coffee-material.css');
@import url('./modules/modal.css');

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.none {
  display: none;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

#left-section {
  width: 65%;
}

#right-section {
  border-radius: 20px;
  background-color: #eee6d9;
  position: relative;
}

@media screen and (max-width: 1408px) {
  #app {
    gap: 2em;
  }

  main#order, main#material {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  #left-section, #right-section {
    width: 90% !important;
    height: 100% !important;
  }
}
