@import url('./common.css');
@import url('./modules/modal.css');
@import url('./modules/header.css');
@import url('./modules/order.css');
@import url('./modules/select-coffee.css');
@import url('./modules/coffee.css');

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.none {
  display: none;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

#left-section {
  width: 65%;
}

#left-section table {
  border: 1px solid #000000;
}

#right-section {
  border-radius: 20px;
  background-color: #eee6d9;
}